@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}
.main{
    width:1200px;
    height: 1000px;
    margin:100px auto;
    position: relative;
}
.u{
    float:right;
}
.toppest{
    width:100%;
    background-color: black;
}
.toppest a{
    list-style: none;
    width: 100px;
    height: 30px;
    text-align: center;
    /*当行高等于父容器高度的时候，文字垂直方向居中*/
    line-height: 30px;
    color: white;

}
.toppest a:hover{
    color: white;
    font-weight: bold;
    background: #6A5ACD;
}

.btns{
    /*border: black solid 1px;*/
    background-color: black;
    float: right;
    /*列表的点去掉*/
    list-style: none;
    width: 100px;
    height: 30px;
    text-align: center;
    /*当行高等于父容器高度的时候，文字垂直方向居中*/
    line-height: 30px;
    color: white;
}
/*当鼠标放上去，改变btn的颜色*/
.btns:hover{
    color: white;
    font-weight: bold;
    background: #6A5ACD;
}

.ranker{
    margin: 50px auto;
    border-top: 5px solid 	black;
    border-right: 3px solid 	black;
    border-bottom: 3px solid 	black;
    border-left: 5px solid 	black;
    width: 1209px;
    height: 349px;
}
.rankhead{
    float: left;
    position: relative;
    box-sizing: border-box;
    width: 200px;
    height: 200px;
    border-right: 1px  #ddd;
}
.rankhead .wrap{
    padding: 30px;
}
.rankcontent{
    box-sizing: border-box;
    width: 1000px;
    height: 340px;
    float: left;
}
.rankcontent-li{
    padding: 10px;
    position: relative;
}
.rankcontent-li button{
    background-color: black;
    float: right;
    list-style: none;
    width: 100px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    color: white;
}
.rankcontent-li img{
    position: absolute;
    top:90px;
    right: 17px;
    width: 180px;
    height: 240px;
}

.rankcontent-li img:hover{
    transform:translateX(10px);
    transition: all .5s ease;

}

.rankcontent ul li{
    box-sizing: border-box;
    float: left;
    width: 200px;
    height: 340px;
}


.consigner{
    margin: 50px auto;
    border-top: 5px solid 	black;
    border-right: 3px solid 	black;
    border-bottom: 3px solid 	black;
    border-left: 5px solid 	black;
    width: 1209px;
    height: 349px;
}
.consignhead{
    float: right;
    position: relative;
    box-sizing: border-box;
    width: 200px;
    height: 200px;
    border-right: 1px  #ddd;
}
.consignhead .wrap{
    padding: 30px;
}
.consigncontent{
    box-sizing: border-box;
    width: 1000px;
    height: 340px;
    float: left;
}
.consigncontent-li{
    padding: 10px;
    position: relative;
}
.consigncontent-li button{
    background-color: black;
    float: right;
    list-style: none;
    width: 100px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    color: white;
}
.consigncontent-li img{
    position: absolute;
    top:90px;
    right: 17px;
    width: 180px;
    height: 240px;
}

.consigncontent-li img:hover{
    transform:translateX(10px);
    transition: all .5s ease;

}

.consigncontent ul li{
    box-sizing: border-box;
    float: left;
    width: 200px;
    height: 340px;
}


h3{
    font-size: 26px;
    padding-bottom: 20px;
}
.a-wrap{
    background: red;
    width: 110px;
    height: 38px;
    text-align: center;
    line-height: 30px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-bottom: 20px;

}
.displayer{
    margin: 50px auto;
    border-top: 5px solid black;
    border-right: 3px solid black;
    border-bottom: 3px solid black;
    border-left: 5px solid black;
    width: 1209px;
    height: 909px;
}
.displayhead{
    float: left;
    position: relative;
    box-sizing: border-box;
    width: 200px;
    height: 200px;
    border-right: 1px  #ddd;
}
.displayhead .wrap{
    padding: 30px;
}
.displaycontent{
    box-sizing: border-box;
    width: 1000px;
    height: 680px;
    float: left;
}
.displaycontent ul li{
    box-sizing: border-box;
    float: left;
    width: 200px;
    height: 180px;
}
.displaycontent-li{
    padding: 10px;
    position: relative;
}
.displaycontent-li .a-wrap{
    width: 60px;
    height: 23px;
    background-color: #000000;
    line-height: 20px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-bottom: 10px;
    font-size:small;
}
.displaycontent-li img{
    position: absolute;
    top:10px;
    right: 10px;
    width: 120px;
    height: 160px;
}
.displaycontent-li img:hover{
    transform:translateX(10px);
    transition: all .5s ease;

}




.shower{
    margin: 50px auto;
    border-top: 5px solid black;
    border-right: 3px solid black;
    border-bottom: 3px solid black;
    border-left: 5px solid black;
    width: 1209px;
    height: 909px;
}
.showhead{
    float:right;
    position: relative;
    box-sizing: border-box;
    width: 200px;
    height: 200px;
    border-right: 1px  #ddd;
}
.showhead .wrap{
    padding: 30px;
}
.showcontent{
    box-sizing: border-box;
    width: 1000px;
    height: 680px;
    float: left;
}
.showcontent ul li{
    box-sizing: border-box;
    float: left;
    width: 200px;
    height: 180px;
}
.showcontent-li{
    padding: 10px;
    position: relative;
}
.showcontent-li .a-wrap{
    width: 60px;
    height: 23px;
    background-color: #000000;
    line-height: 20px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-bottom: 10px;
    font-size:small;
}
.showcontent-li img{
    position: absolute;
    top:10px;
    right: 10px;
    width: 120px;
    height: 160px;
}
.showcontent-li img:hover{
    transform:translateX(10px);
    transition: all .5s ease;

}



ul li{
    box-sizing: border-box;
    float: left;
    width: 200px;
    height: 150px;
}
ul li:nth-child(1),
ul li:nth-child(2),
ul li:nth-child(3),
ul li:nth-child(4),
ul li:nth-child(5),
ul li:nth-child(6),
ul li:nth-child(7),
ul li:nth-child(8),
ul li:nth-child(9),
ul li:nth-child(10),
ul li:nth-child(11),
ul li:nth-child(12),
ul li:nth-child(13),
ul li:nth-child(14),
ul li:nth-child(15),
ul li:nth-child(16),
ul li:nth-child(17),
ul li:nth-child(18),
ul li:nth-child(19),
ul li:nth-child(20),
ul li:nth-child(21),
ul li:nth-child(22),
ul li:nth-child(23),
ul li:nth-child(24),
ul li:nth-child(25){
    border-bottom: 1px dashed #ddd;
    border-top: 1px dashed #ddd;
}
ul li:nth-child(1),
ul li:nth-child(2),
ul li:nth-child(3),
ul li:nth-child(4),
ul li:nth-child(5),
ul li:nth-child(6),
ul li:nth-child(7),
ul li:nth-child(8),
ul li:nth-child(9),
ul li:nth-child(10),
ul li:nth-child(11),
ul li:nth-child(12),
ul li:nth-child(13),
ul li:nth-child(14),
ul li:nth-child(15),
ul li:nth-child(16),
ul li:nth-child(17),
ul li:nth-child(18),
ul li:nth-child(19),
ul li:nth-child(20),
ul li:nth-child(21),
ul li:nth-child(22),
ul li:nth-child(23),
ul li:nth-child(24),
ul li:nth-child(25){
    border-right: 1px dashed #ddd;
}
